main {
  margin-top: 53px;
}

footer {
  background-image: $bg-stripes-horizontal-secondary;
  background-size: 103px 5px;
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 14px;
  color: #8a8a8a;
  a {
    color: #8a8a8a;
    font-size: 14px;
    &:hover {
      color: theme-color('secondary');
      cursor: default;
      text-decoration: none;
    }
  }
}

.mt-col {
  margin-top: 1.875rem !important;
}

.mb-col {
  margin-bottom: 1.875rem !important;
}

.px-col {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.pl-col {
  padding-left: 1.875rem;
}

.fa {
  &-lg {
    font-size: 1.3125rem;
  }
  &-xl {
    font-size: 2.5rem;
  }
}